

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


a {
  text-decoration: none;
  direction: ltr;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: black;
}

body {
  margin: 0;
  font-family: 'Almarai', sans-serif;

}
:root {
  --primary-color: #EE1B5E;
  --buttons-border-color: #EE1B5E;
  --section-padding: 20px;
  --title-size: 50px;
  --main-color: #7777AE;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

.container-css {
  padding-left: 6vw;
  padding-right: 6vw;
  margin-left: auto;
  margin-right: auto;
}
.father {
  position: relative;
}

/* Header styles */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 10%;
  transition: background-color 0.2s ease;
  z-index: 2;
  background-color: white;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.header-back{
  background-color: #fff;
  height: 12vh;
  border-bottom: 1px solid #D1D1D1;
}

.header-background{
  background: rgba(0, 0, 0, 0.6);
  
}

.nav-css {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-direction: row-reverse;
  padding: 10px 0;
}

.logo{
  width: 20%;
}
.dir-logo{
  direction: ltr;
}
@media(max-width:662px){
  .logo{
    width: 40%;
  }
}

.nav-css .new-ul {
  display: flex;
  align-items: center;
  justify-content: end;
  list-style-type: none;
}
@media (max-width: 992px) {
  .nav-css .new-ul li {
    font-size: 8px;
    display: none;
    
  }
    .contact-us{
      display: none;
    }
}
.nav-css .new-ul li {
  /* padding: 10px; */
  text-align: right;
  color: #8F8F8F;
  font-weight: bold;
  font-size: 15px;
  border-radius: 40px;
  transition: 0.3s ease;
  width: 100px;
}
.nav-css .new-ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #3A3772;
}
.fa-bars {
  color: #8F8F8F;
  font-size: 24px;
  cursor: pointer;
}
.fa-bars:hover{
  color: #3A3772;
}
.notmenu{
  display: none;
}
@media (min-width: 993px){
  .menu{
    display: none !important;
    
  }
  .fa-bars{
    display: none !important;
  }
    .header-background {
      height: 15vh;
  
    }
    
}
@media (max-width: 992px){
  .fa-bars{
  display: block !important;
  }
  .dir-ul{
    direction: ltr;
  }
  .logo{
    padding-bottom: 10px;
  }
    .header-background {
      height: 10vh;
  
    }
  
}

.menu {
  position: absolute;
  top: 12vh;
  right: 0;
  width: 100vw;
  height:60vh;
  background-color: #fff;
  animation-name: menu;
  animation-duration: 0.1s;
  color: #8F8F8F;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
}

.hidemenu{
  display: none !important;
  
}
.showmenu{
  display: block;
  
}
.nav-links{
  margin-left: 10px;
}

.new-nav div{
  color: #8F8F8F;
  transition: 0.3s ease;
}
.new-nav div ol{
  list-style-type: none;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
 
}
.new-nav div ol a{
  color: #8F8F8F;
  font-size: 20px;
  font-weight: bold;
  transition: 0.1s ease;
}
.new-nav div ol li{
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}
.new-nav div ol li:hover{
  color: #3A3772;
  transform: translateX(-15px);
}
.new-nav div ol li:hover a{
  color: #3A3772;
}
.nav-links-new{
  margin-top: 20px;
  
}

.contact-us {
  border: 1px solid var(--buttons-border-color);
  border-radius: 40px;
  padding: 5px 15px;
  transition: 0.3s ease;
  color: #8F8F8F;
}
.contact-us:hover{
  background-color: var(--buttons-border-color);
  font-weight: bold;
}
.fa-x {
  font-size: 25px;
  cursor: pointer;
  z-index: 500;
  position: absolute;
  top: -8vh;
  right: 5vh;
}

/* Landing  */

.section-height{
  height: calc(75vh + 30px);
  background-color: #ECECEC;
  display: flex;
  position: relative;
}
@media(max-width:768px){
  .section-height{
    height: 55vh;
  }
}
.landing {
  padding-bottom: 80px;
  position: relative;
  height: 85vh;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  background: linear-gradient(220.1deg, rgba(32, 23, 72, 1) 0%, rgba(75, 43, 132, 1) 100%);
  width: 100%;
  height: 100%;
  transform: skewY(-6deg);
  transform-origin: top left;
  z-index: -55;
}
.icom-landing {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


@media (max-width: 992px) {
  .icom-landing {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
  }
}
@media (max-width: 662px) {
  .icom-landing {
    display: flex;
    flex-direction: column;
    padding-top: 20%;
  }
}
.icom-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row{
  position: relative;
}
.icom-landing.col-md-4{
  margin-top: -10vh;
}

.title h1 {
  font-size: 40px;
  font-weight: bold;
}
.title h3{
  padding-top: 20px;
  color:#666;
  font-size: 23px;
}
@media (max-width: 662px){
  .title h1{
    font-size: 30px;
  }
}




.projects{
    position: absolute;
    left: 50%;
    bottom: -81px;
    transition: 0.3s;
}
.projects i{
    animation: bouncing 1.5s infinite;
    color: #33BCBB;
}


@media(max-width:992px){
  .projects{
    position: absolute;
    left: 50%;
    transition: 0.3s;
}
}
.icons-menu{
  
  flex-direction: row !important;
}
.icons-menu a{
color: #8F8F8F !important; 
}
.icons-menu a:hover{
color: #3A3772;
}
/* HeadLINE */

.head-line{
  text-align: center;
  
}

.head-line h1{
  font-size: 30px;
  color: #3A3772;
  font-weight: 900;
margin-top: 4rem;
margin-bottom: 2rem;
}
.head-line p {
  color: #16171c;
  padding-top: 20px;
  font-size: 18px;
  text-align: justify;
}



/* ContactUS */


.contact{
  text-align: center;
  padding-top: 40px;
}

.contact h1{
  color: #3A3772;
  font-weight: 900;
  font-size: 30px;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.haapy-p{
  font-size: 19px;
  font-weight: 700;
  text-align: right;
  margin-bottom: 1rem;
  color: #2D2D2D;

}


form{
  display: flex;
  flex-direction: column;
 text-align: right;

}
.labels{
  color: #777777;
  font-size: 1em;
    margin: 1em 0 4px;
    font-weight: 700;
}
form input{
  font-size: 12px;
  height: 38px;
  padding: 10px;
    border-radius: 4px;
    width: 100%;
    background: #ebf4f8;
    border: 1px solid #d5dee1;
    transition: outline .2s ease;
    outline: none;
    font-family: inherit;
    resize: none;
    transition: 0.3s;
}
form input::placeholder{
  color: #acacac;
}
form input:focus{
  border: 2px solid #1587B2;
}
select{
  padding: 10px;
    border-radius: 4px;
    width: 100%;
    background: #ebf4f8;
    border: 1px solid #d5dee1;
    transition: outline .2s ease;
    outline: none;
    font-family: inherit;
    resize: none;
    font-size: 14px;
}
textarea{
  padding: 10px;
    border-radius: 4px;
    width: 100%;
    background: #ebf4f8;
    border: 1px solid #d5dee1;
    transition: outline .2s ease;
    outline: none;
    font-family: inherit;
    resize: none;
    font-size: 12px;
}
form button{
  background-color: #32BCBB;
  margin-top: 40px;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  font-size: 18px;
  font-family: "Tajawal", sans-serif;
  cursor: pointer;
}
.enter-number{
  color: var(--primary-color);
  font-size: 14px;
  font-weight: bold;
  
}
.planeImage{
  width: 400px;
    max-width: 100%;
}

.red-rectangle{
aspect-ratio: 1/1.25;
  width: calc(min(100%, 400px) - 44px);
  position: relative;
  text-align: right;
  padding: 20px 20px 40px;
  margin: 40px 0;
  background: #EE1B5E;
  color: white;
  margin-left: -22px;
  border: 5px solid white;
}

@media(max-width:768px){
  .landing-image{
    margin-top: 3rem;
  }
}



/* Contact Us Phone Number */

.react-tel-input{
  direction: ltr;
  
}
.react-tel-input .form-control{
  width: 100% !important;

    border-radius: 4px !important;
    
    background: #ebf4f8 !important;
    border: 1px solid #d5dee1 !important;
    transition: outline .2s ease !important;
    outline: none !important;
    font-family: inherit !important;
    resize: none !important;
    transition: 0.3s !important;
}

/* Spikes */


.spikes{
  position: relative;
  margin-top: var(--main-padding-top);
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

/* SpikesLanding */

.spikes-landing::after{
  content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(320deg, white 25%, transparent 25%), linear-gradient(41deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

/* Services */

.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);

}
.services .container-css {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  transition: var(--main-transition);
  position: relative;
}
.services .box::before {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  top: -3px;
  background-color: var(--main-color);
  position: absolute;
  width: 0;
  transition: var(--main-transition);
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box:hover::before {
  width: 100%;
}
.services .box > i {
  margin: 30px auto 20px;
  display: block;
  text-align: center;
  color: #d5d5d5;
}
.services .box > h3 {
  text-align: center;
  margin: 20px 0 40px;
  font-size: 25px;
  color: var(--main-color);
}
.services .box .info {
  padding: 15px;
  position: relative;
  background-color: #f9f9f9;
  text-align: right;
}
.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 94px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.services .box .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}
.services .box .info a {
  color: var(--main-color);
}
.main-title{
  text-align: center;
  color: #3A3772;
    font-weight: 900;
    font-size: 30px;
  
    margin-bottom: 2rem;
}
/* Footer */




footer {
padding: 50px 0vw;
color: white;
text-align: right;
border-top: 1px solid #D1D1D1;
}

.logo_footer{
  width: 100%;

}

.footer-flex{
  display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: stretch;
    margin: 0 auto;
    gap: 40px;
}
footer a{
  font-weight: bold;
    color: #8F8F8F;
  line-height: 1.8;
  font-size: 12px;

}
.footer-flex p{
  padding-top: 10px;
}
.footer-flex span{
  font-size: 20px;
}

ul,li{
  list-style: none;
  text-decoration: none;
  color:#666;
  
}
footer li{
  margin-top: 18px;
}
.footer-titles{
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid #DBDBDB;
  font-size: 0.9375vw;
}
@media(max-width:768px){
  .footer-titles{
    font-size: 18px;
  }
  .anchor-logo{
    max-width: 80px;
    
  }
  .logo-flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.info-content-footer{
  text-align: right;
  padding: 20px 0;
}



.apps{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.apps a{

    padding-left: 4px;
    padding-right: 4px;
}

.apps img{
  width: 100%;
  margin-top: 20px;
  padding-left: 4px;
  padding-right: 4px;
}

.twi{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.rights-100{

background-color: #32BCBB;;
}

.rights{
  display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    flex-wrap: wrap;
}
.rights p{
  color: white;
}
.rights a{
  color: white;
}
.p-rights{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
 
}
.p-rights ol{
  display: flex;
    align-items: center;
    justify-content: space-between;

}
.p-rights ol li{
 margin-right: 40px;
}
.p-rights ol a{
  transition: 0.3s ;
}
@media(max-width:768px){
  .p-rights ol a{
    font-size: 12px;
  }
  .p-rights ol{
    width: 100%;


  }
  .rights p{
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
    
  }

}

@media(min-width:768px){
  .p-rights ol{
    margin-top: 1rem;
  }
}

@media(max-width:768px){

  .p-rights ol a{
    font-size: 10px;
  }

}

@media(max-width:576px){
  .p-rights ol li{
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 10px;
  }
}
.p-rights ol a:hover{
  color: #16171c;
  
 }

.footer-bar{
  background: #3A3772;
  padding: 10px 0;

}

.footer-bar-style{
  color: white;
  font-size: 12px;
}

@media(max-width:1600px){
  
.footer-bar-style{
  font-size: 10px;
}
}


/* Pop Up */
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/* Green Check */
/**
 */
 .success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;}
  
  .success-checkmark .check-icon {
      width: 80px;
      height: 80px;
      position: relative;
      border-radius: 50%;
      box-sizing: content-box;
      border: 4px solid #4CAF50;}
      
      .check-icon::before {
          top: 3px;
          left: -2px;
          width: 30px;
          transform-origin: 100% 50%;
          border-radius: 100px 0 0 100px;
      }
      
      .check-icon::after {
          top: 0;
          left: 30px;
          width: 60px;
          transform-origin: 0 50%;
          border-radius: 0 100px 100px 0;
          animation: rotate-circle 4.25s ease-in;
      }
      
      .check-icon::before, .check-icon::after {
          content: '';
          height: 100px;
          position: absolute;
          background: #FFFFFF;
          transform: rotate(-45deg);
      }
      
      .icon-line {
          height: 5px;
          background-color: #4CAF50;
          display: block;
          border-radius: 2px;
          position: absolute;
          z-index: 10;}
          
          .icon-line.line-tip {
              top: 46px;
              left: 14px;
              width: 25px;
              transform: rotate(45deg);
              animation: icon-line-tip 0.75s;
          }
          
          .icon-line.line-long {
              top: 38px;
              right: 8px;
              width: 47px;
              transform: rotate(-45deg);
              animation: icon-line-long 0.75s;
          }
      
      
      .icon-circle {
          top: -4px;
          left: -4px;
          z-index: 10;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          position: absolute;
          box-sizing: content-box;
          border: 4px solid rgba(76, 175, 80, .5);
      }
      
      .icon-fix {
          top: 8px;
          width: 5px;
          left: 26px;
          z-index: 1;
          height: 85px;
          position: absolute;
          transform: rotate(-45deg);
          background-color: #FFFFFF;
      }

      .clicked-button{
        visibility: hidden;
      }


.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

/* Whats APP */
.fa-custom{
  color: white;
  font-size:40px;
  position: fixed;
  bottom: 1rem;
  right:  1rem;
  background-color: #28D146;
  padding: 15px;
  border-radius: 50%;  
  box-shadow: 0 0 10px gray;
  z-index: 30;
}


/* Start Animation */

 /* Arrow Frame */

@keyframes bouncing {

  0%
   {
    transform: translateY(0);
  }

 
 20% {
    transform: translateY(-18px);
  }
 40% {
   transform: translateY(0px);
 }
  60%{
    transform: translateY(-18px);
  }
  80%{
    transform: translateY(0px);
  }
}
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
@keyframes menu {
  0%{
    height: 0vh;
  }
  25%{
    height: 15vh;
  }
  50%{
    height: 30vh;
  }
  75%{
    height: 45vh;
  }
  100%{
    height: 60vh;
  }
}

@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

/* End Animation */